<main id="main" class="main">

    <div class="pagetitle">
        <h1>Registro de Donador</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Formularios</li>
                <li class="breadcrumb-item active">Registro de Donador</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <!--botones de decision-->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ingreso De Donante</h5>

                        <!-- General Form Elements -->
                        <form class="needs-validation" id="form" novalidate>
                            <div class="text-center">
                                <h5 class="card-title">¿Qué desea registrar?</h5>
                            </div>

                            <!-- Button trigger modal -->
                            <div class="text-center mb-3">
                                <button type="button" class="btn btn-outline-primary buttonSubmit buttonRegistred"
                                    data-bs-toggle="modal" data-bs-target="#RegistroPersona"><i
                                        class="bi bi-people"></i> Persona</button>

                                <button type="button" class="btn btn-outline-success buttonRegistred"
                                    data-bs-toggle="modal" data-bs-target="#RegistroEmpresa"><i
                                        class="ri-building-line"></i>
                                    Empresa</button>

                            </div>


                            <!-- Modal REGISTRO DE PERSONAS COMO DONANTES -->
                            <div class="modal fade" id="RegistroPersona" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h5 class="modal-title">Registro de Donante <i
                                                    class="ri-arrow-drop-right-line"></i> Persona</h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>


                                        <div class="modal-body">
                                            <div class="card cardDonante">
                                                <form class="needs-validation" id="form" novalidate>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-idPersona"
                                                                class="form-label">ID Persona</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-idPersona" disabled>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="mySelect" class="form-label">Tipo de
                                                                Persona</label>
                                                            <select id="mySelect" class="form-select" required>
                                                                <div id="data-display">Selecciona Una Opcion...</div>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-name"
                                                                class="form-label">Nombre</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-name" required>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="registro-donante-apellido"
                                                                class="form-label">Apellido</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-apellido" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-email"
                                                                class="form-label">Email</label>
                                                            <input type="email" class="form-control"
                                                                id="registro-donante-email" required>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="registro-donante-fechaNacimiento"
                                                                class="form-label">Fecha De Nacimiento</label>
                                                            <input type="fechaNacimiento" class="form-control"
                                                                id="registro-donante-fechaNacimiento" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-4">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-cedula"
                                                                class="form-label">Cedula o Pasaporte</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-cedula">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="mySelect" class="form-label">Estado
                                                                Civil</label>
                                                            <select id="mySelect" class="form-select" required>
                                                                <div id="data-display0">Selecciona Una Opcion...</div>
                                                            </select>
                                                        </div>

                                                    </div>



                                                    <div class="row mb-3" required>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="mySelect" class="form-label">Sexo</label>
                                                            <select id="mySelect" class="form-select" required>
                                                                <option value="" disabled selected>Selecciona Una Opcion...</option>
                                                                <option value="F">Femenino</option>
                                                                <option value="M">Masculino</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-direccion"
                                                                class="form-label">Direccion</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-direccion" required>
                                                        </div>
                                                    </div>


                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-ciudad"
                                                                class="form-label">Ciudad</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-ciudad" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-pais"
                                                                class="form-label">Pais</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-pais" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-direccion-codigoPostal"
                                                                class="form-label">Codigo Postal</label>
                                                            <input type="number" class="form-control"
                                                                id="registro-direccion-codigoPostal" required>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="registro-donante-licencia"
                                                                class="form-label">Licencia De Conducir</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-licencia" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-foto"
                                                                class="form-label">Foto Del Donante</label>
                                                            <div class="col-sm-12">
                                                                <input class="form-control" type="file"
                                                                    id="registro-donante-foto">
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row mb-5">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="mySelect" class="form-label">Status</label>
                                                            <select id="mySelect" class="form-select" required>
                                                                <option value="" disabled selected>Selecciona Una Opcion...</option>
                                                                <option value="1">Activo</option>
                                                                <option value="0">Inactivo</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-fechaModificacion"
                                                                class="form-label">Fecha de Modificacion</label>
                                                            <input type="date"
                                                                id="registro-donante-fechaModificacion"
                                                                class="form-control" disabled>
                                                        </div>
                                                    </div>




                                                </form><!-- End General Form Elements -->

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit"
                                                class="btn btn-primary buttonSubmit">Enviar</button>
                                            <button type="reset"
                                                class="btn btn-outline-danger buttonSubmit">Limpiar</button>
                                            <button type="button" class="btn btn-outline-dark"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin Modal -->






                            <!-- Modal REGISTRO DE EMPRESA COMO DONANTES -->
                            <div class="modal fade" id="RegistroEmpresa" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h5 class="modal-title">Registro de Donante <i
                                                    class="ri-arrow-drop-right-line"></i> Empresa</h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="card cardDonante">
                                                <form class="needs-validation" id="form" novalidate>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <!-- LE COLOQUE ID EMPRESA, SIN EMBARGO ES EL ID PERSON LO QUE VA AQUI -->
                                                            <label for="registro-donante-idEmpresa"
                                                                class="form-label">ID Empresa</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-idEmpresa" disabled>
                                                        </div>


                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <a href="../enums/registroTipoEmpresa.html">Crear nueva</a>
                                                            <label for="" class="form-label">Tipo de
                                                                Empresa</label>
                                                            <select id="" class="form-select" required>
                                                                <div id="data-display0">Selecciona Una Opcion...</div>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="registro-donante-nameaEmpresa" class="
                                                                form-label">Nombre De La
                                                                Empresa</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-nameEmpresa" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-RNC"
                                                                class="form-label">RNC</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-RNC" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-email"
                                                                class="form-label">Email</label>
                                                            <input type="email" class="form-control"
                                                                id="registro-donante-email" required>
                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-direccionEmpresa"
                                                                class="form-label">Direccion</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-direccionEmpresa" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-ciudadEmpresa"
                                                                class="form-label">Ciudad</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-ciudadEmpresa" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="registro-donante-paisEmpresa"
                                                                class="form-label">Pais</label>
                                                            <input type="text" class="form-control"
                                                                id="registro-donante-paisEmpresa" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="registro-donante-codigoPostalEmpresa"
                                                                class="form-label">Codigo Postal</label>
                                                            <input type="number" class="form-control"
                                                                id="registro-donante-codigoPostalEmpresa" required>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-md-6 mb-3">
                                                          <label for="status" class="form-label">Status</label>
                                                          <select id="status" class="form-select" required>
                                                            <option value="" disabled selected>Selecciona Una Opcion...</option>
                                                            <option value="1">Activo</option>
                                                            <option value="0">Inactivo</option>
                                                          </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                          <label for="registro-donante-fechaModificacionEmpresa" class="form-label">Fecha de Modificacion</label>
                                                          <input type="date" id="registro-donante-fechaModificacionEmpresa" class="form-control" disabled>
                                                        </div>
                                                      </div>

                                                </form><!-- End General Form Elements -->

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                class="btn btn-primary buttonSubmit">Enviar</button>
                                            <button type="reset"
                                                class="btn btn-outline-danger buttonSubmit">Limpiar</button>
                                            <button type="button" class="btn btn-outline-dark"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin Modal -->



                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--fin botones de decision-->





</main>