<main id="main" class="main">

    <div class="pagetitle">
      <h1>Registro de sucursal</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Formularios</li>
          <li class="breadcrumb-item active">Registro de sucursal</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ingreso de Sucursal</h5>

              <!-- General Form Elements -->
              <form class="needs-validation" id="form" novalidate>

                <div class="row mb-3">
                  <div class="col-md-6 mb-3">
                    <label for="idSucursal" class="form-label">ID Sucursal</label>
                    <input type="text" class="form-control" id="idSucursal" disabled>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                  </div>
                  <div class="col-md-6">
                    <a href="../tercero/">Crear nueva</a>
                    <label for="compania" class="form-label">Compania</label>
                    <select id="compania" class="form-select" required>
                      <div id="data-display">Selecciona Una Opcion...</div>
                    </select>
                  </div>
                </div>


                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="rnc" class="form-label">RNC</label>
                    <input type="text" class="form-control" id="rnc" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6 mb-3">
                    <label for="tipoEmpresa" class="form-label">Tipo empresa</label>
                    <input type="text" class="form-control" id="tipoEmpresa" disabled>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6 mb-3">
                    <label for="status" class="form-label">Status</label>
                      <select id="status" class="form-select" required>
                        <option value="" disabled selected>Selecciona Una Opcion...</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                    <label for="fechaModificacion" class="form-label">Fecha de Modificacion</label>
                    <input type="date" id="fechaModificacion" class="form-control" disabled>
                  </div>
                </div>

                <div class="text-center mb-3">
                  <button type="submit" class="btn btn-primary buttonSubmit">Enviar</button>
                  <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

  </main>