<main id="main" class="main">

    <div class="pagetitle">
      <h1>Registro de Almacen</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Formularios</li>
          <li class="breadcrumb-item active">Registro de Almacen</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ingreso a Almacen</h5>

              <!-- General Form Elements -->
              <form class="needs-validation" id="form" novalidate>

                <div class="row mb-3">
                  <div class="col-md-6 mb-3">
                    <label for="idAlmacen" class="form-label">ID Almacen</label>
                    <input type="text" class="form-control" id="idAlmacen" disabled>
                  </div>

                  <div class="col-md-6">
                    <a href="../tercero/registroSucursal.html">Crear nueva</a>
                    <label for="registro-almacen-sucursal" class="form-label">Sucursal</label>
                    <select id="registro-almacen-sucursal" class="form-select" required>
                      <div id="data-display">Selecciona Una Opcion...</div>
                    </select>
                  </div>
                </div>


                <div class="row mb-3">
                  <div class="col-md-6 mb-3">
                    <label for="registro-almacen-tipoAlmacen" class="form-label">Tipo De Almacen</label>
                    <select id="registro-almacen-tipoAlmacen" class="form-select" required>
                      <option value="" disabled selected>Selecciona Una Opcion...</option>
                      <option value="Alimento">Alimento</option>
                      <option value="Medicina">Medicina</option>
                      <option value="Productos de limpieza">Productos de limpieza</option>
                      <option value="Combustible">Combustible</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="registro-almacen-capacidad" class="form-label">Capacidad</label>
                    <input type="text" class="form-control" id="registro-almacen-capacidad" required>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6 mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" class="form-select" required>
                      <option value="" disabled selected>Selecciona Una Opcion...</option>
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="registro-almacen-fechaModificacion" class="form-label">Fecha de Modificacion</label>
                    <input type="date" id="registro-almacen-fechaModificacion" class="form-control" disabled>
                  </div>
                </div>


                <div class="text-center mb-3">
                  <button type="submit" class="btn btn-primary buttonSubmit">Enviar</button>
                  <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

  </main>